body {
}
#cookiepanel {
    display: inline-block;
}
#bakeryname{
    background-color: rgba(0,0,0,0.4);
    border-radius: 12px;
    padding: 4px 0px;
    text-align: center;
}
#changebakerynamebuttons > button{
    border: 1px solid transparent; 
    border-image: url(/cookieclickerimg/FrameBorder.png) 3 round; 
    border-radius: 2px;
    background-color: black;
    color: gray;
    margin: 2px;
}
#maincookiecookies{
    background-color: rgba(0,0,0,0.4);
    border-radius: 12px;
    padding: 4px 0px;
    text-align: center;
}
#maincookie {
    text-align: center;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.clickedcookie{
    animation: fadeOut 2s forwards;
    visibility: visible;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0; margin-top: 40px;} 
}
/* .clickedcookiecookie{
    animation: cookieFadeOut 2s forwards;
}
.clickedcookietext{
    animation: textFadeOut 8s forwards;
}
@keyframes cookieFadeOut {
    0% {opacity: 1;}
    20% {margin-top: -30px;} 
    100% {opacity: 0; margin-top: 100px;} 
} 
@keyframes textFadeOut {
    0% {opacity: 1;}
    100% {opacity: 0; margin-top: -200px;} 
}  */
@media screen {
    .obj {
        --timeunit: 10s;
        --offsetunit: 30vmin;
        --sizeunit: 5vmin;
        --time: 5;
        --dist: 1.13;
        --size: 0.4;
        position: absolute;
        top: calc(50% - calc(var(--size) * var(--sizeunit)));
        --offset: calc(var(--dist) * var(--offsetunit));
        /* distance from the center */
        left: calc(50% - var(--offset));
        width: calc(2 * var(--offset));
        animation: circleRound calc(var(--time) * var(--timeunit)) linear infinite;
        /* border-radius: 50%;
    border-style: none;
    background-color: blue; */
    }
    .inner {
        /* width: calc(calc(2 * var(--size)) * var(--sizeunit));
    height: calc(calc(2 * var(--size)) * var(--sizeunit)); 
    border-radius: 0%;
    border-style: none;
    background-color: blue; */
    }
    .inner::after {
        content: "";
        background: url("/img/cursor.png");
        position: absolute;
        width: 500px;
        height: 500px;
        transform: scale(0.1) rotateZ(90deg) translateX(-2300px) translateY(2200px);
    }
    @keyframes circleRound {
        100% {
            transform: rotate(-360deg);
        }
    }
}
.verticalpanel{
    display: inline-block;
    width: 16px;
    height: 100%;
    background: url("/cookieclickerimg/VerticalPanel.png"); 
    position: relative;
    transform: translate(200px);
    /* top: 0px;
    bottom: 0px; */
    /* z-index: 100; */
}

#shop {
    display: inline-block;
    position: absolute;
    transform: translate(600px, 00px);
}
#shoptitle{
    font-size: 35px;
    transform: translateX(100px);
}
#buyupgrades{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.shopupgrade{
    width: 52px;
    height: 52px;
    background-color: black;
    border: 4px solid transparent;
    border-image: url(/cookieclickerimg/FrameBorder.png) 3 round;
    color: grey;
}
.shopupgrade img{
    width: 52px;
    height: 55px;
} 
.shopupgrade:hover{
    filter: brightness(1.20);
}
.shopbtn {
    display: inline;
    height: 64px;
    width: 300px;
    border: 0px;
    padding: 0px;
    font-size: 15px; 
    background: url(/cookieclickerimg/ShopBtnBackground.jpg);
}
/* .shopbtn:hover {
    filter: brightness(1.20);
} */
.shopbtnitemname{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 30px;
    color: white;
    transform: translate(-20px, 10px);
}
.shopbtnitemprice{
    margin: 0;
    padding: 0;
    border: 0;
    transform: translate(-20px, 10px);
}
.shopbtnitemcount{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 45px;
    transform: translate(120px, -40px);
    opacity: 0.2;
    color: #000;
    text-shadow: 0px 0px 8px #fff;
}
.cookienumber{
    color: white;
}