.accounttitle{
  background-color: rgb(60, 182, 223);
  text-align: center;
  font-size: 55px;
}
.login h2{
  display: inline-block;
  color:blue;
  border: lightblue 3px solid;
  text-align: center;
  /* transform: translateX(265px); */
  font-size: 80px;
  margin: -12px;
}
#LoginCookiegrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  margin: 0 auto;
  /* position: relative; */
}
#cookie:hover{
  filter: brightness(1.40);
}
.btn {
  display: inline;
  height: 70px;
  width: 70px;
  border: 0px;
  padding: 0px;
  font-size: 15px;
  color:black;
}
.btn:hover{
  filter: brightness(1.40);
}
#colorbtngrid{
  display: inline-block;
  border: 2px solid black;
  grid-template-columns: repeat(12, 1fr);
  font-size: 0;
}
body{
  background-color: #9ACDE0;
}
label{
  color:black;
  font-size: 15px;
}
.input{
  width: 300px;
  height: 40px;
  font-size: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.loginbutton{
  width: 300px;
  height: 30px;
  font-size: 20px
  /* transition: 3s;
  background: revert;
  text-decoration: none; */
}
.inputtext{
  /* text-align: center; */
  font-size: 30px;
  margin: 5px;
}
.gameh1{
  text-align: center;
  font-size: 35px;
  background-color: #1182af;  
}
.games{
  font-size: 35px;
}
@media screen {
  .link{
    font-size: 25px;
    padding: 10px;
    color: #fff;
    /* display: block; */
    display: block;
    background-color: #777;
    text-decoration: none;
  }
  a.link{
    text-align: center;
  }
  ul.links{
    padding: 0;
    list-style-type: none;
    display: flex;
  }
  li.links{
    flex: 1 1 0;
  }
  .link:hover{
    background-color: #555;
  }
}
.song{
  margin: 10px;
  display: inline-block;
  border: 2px solid purple;
}
 /* .loginbutton:focus{
   background: rgb(78, 36, 2);
  text-decoration: line-through;
  animation: catchMe 5s linear 2 alternate; 
} */
.btn.bouncebutton{
  height: 100px;
  width: 100px;
  background-color: sandybrown;
  animation: bounce 3s linear infinite alternate;
  font-size: 18px;
}
h1.gae{
  transform: translate(750px, -20px);
}
@keyframes catchMe {
  1%{transform: translate(0px, -300px) rotate(-720deg) scale(2)}
  10%{transform: translate(1500px, -200px) rotate(720deg) scale(4)}
  20%{transform: translate(0px, -100px) rotate(-720deg) scale(2)}
  30%{transform: translate(1500px, 0px) rotate(720deg) scale(4)}
  40%{transform: translate(0px, 100px) rotate(-720deg) scale(2)}
  50%{transform: translate(1500px, 200px) rotate(720deg) scale(4)}
  60%{transform: translate(0px, 300px) rotate(-720deg) scale(2)}
  70%{transform: translate(1500px, 400px) rotate(720deg) scale(4)}
  80%{transform: translate(0px, 500px) rotate(-720deg) scale(2)}
  90%{transform: translate(1500px, 600px) rotate(720deg) scale(4)}
  100%{transform: translate(0px, 700px) rotate(-720deg) scale(2)}
}
@keyframes bounce {
  0%{transform: translate(0px, 0px) rotate(0deg)}
  25%{transform: translate(200px, 0px) rotate(22.5deg)}
  50%{transform: translate(200px, 200px) rotate(45deg)}
  75%{transform: translate(0px, 200px) rotate(67.5deg)}
  100%{transform: translate(0px, 0px) rotate(90deg)}
}
#canvas1{
  background: yellow;
  top: 325px;
  left: 225px;
}
#canvas2 {
  background: green;
  top: 400px;
  left: 225px;
}
.popup{
  display: inline-block;
  width: 500px;
  height: 200px;
  text-align: center;
  background-color: chocolate;
  animation: popup 2s forwards;
}
@keyframes popup {
  0%{transform: translate(100px, -400px)}
  50%{transform: translate(100px, 0px)}
  100%{transform: translate(100px, -50px)}
}
#colorpicker{
  width: 25px;
}

.no_padding_border_margin{
  padding: 0px;
  border: 0px;
  margin: 0px;
}
#allprojects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: minmax(40px, auto); */
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  position: relative;
}
#allprojects a{
  background-color: #3bbced;
  padding: 30px;
  text-align: left;
  text-decoration: none;
  font-size: 30px;
}
#allprojects a:nth-child(even){
  background: #777;
}
#allprojects h1{
  background-color: #1182af;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  font-size: 50px;
  grid-column: 1 / 4;
}
#gameimage{
  width: auto;
  height: 140px;
  margin-left: 35px;
}
#grid{
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100%, auto);
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;
  display: none;
}
#grid p{
  background: grey;
  border: 3px solid black;
  margin: 0;
  opacity: 0.2; 
}
input:checked + #allprojects #grid{
  display: grid;
}
@media screen{
  #info{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 10px;
    grid-template-areas: 
    "HTML HTML HTML CSS CSS CSS"
    ". javascript javascript javascript javascript ."
    "VSC VSC . . Processing Processing"
    "github github github vercel vercel vercel";
  }
  #info > *{
    background-color: teal;
    padding: 30px 0;
    margin: 0;
    font-size: 35px;
    text-align: center;
  }
  #info p:hover {
    filter: brightness(1.30);
  }
  #HTML{
    grid-area: HTML;
  }
  #CSS{
    grid-area: CSS;
  }
  #javascript{
    grid-area: javascript;
  }
  #VSC{
    grid-area: VSC;
  }
  #Processing{
    grid-area: Processing;
  }
  #github{
    grid-area: github;
  }
  #vercel{
    grid-area: vercel;
  }
  #moreinfo{
    font-size: 15px;
  }
}
#memeimage{
  /* width: auto;
  height: 250px; */
  height: auto;
  width: 222px;
}
#sum{
  display: none;
}
#memes{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(6, minmax(100px, auto)); */
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  margin: 0 auto;
  position: absolute;
}
#memes img{
  background-color: #2980f1;
  padding: 10px;
  min-height: 0;
}
#memes img:nth-child(even){
  background-color: #443838;
}
@media screen {
  #working{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 10px;
    margin: 0 auto;
    position: relative;
  }
  #working h5{
    font-size: 30px;
    text-align: center;
    background-color: rgb(30, 193, 199);
    padding: 10px;
  }
  #working p{
    text-decoration: none;
    font-size: 15px;
    background-color: rgb(10, 108, 235);
    padding: 10px;
  }
  #working ul{
    text-align: left;
    font-size: 15px;
    background-color: aqua;
  }
  #working li{
    text-align: start;
    font-size: 13px;
    margin: 5px;
  }
  #working li li{
    text-align: left;
    transform: translateX(-30px);
    font-size: 12px;
    margin: 3px;
  }
  #thanksmom{
    text-align: center;
    margin: -7px;
    font-size: 100px;
    border: solid 5px red;
  }
  #thanksmom2{
    text-align: center;
    margin: 0px;
    font-size: 50px;
    border: dotted 3px palevioletred;
  }
  #thanksmom3{
    text-align: center;
    margin: 0px;
    font-size: 30px;
    border: dashed 1px pink;
  }
  .momm{
    height: 300px;
    width: auto;
    left: 0%;
  }
  .MOM{
    height: 400px;
    width: auto;
    transform: translateX(400px);
    margin: 10px;
  }
  .thankyoumom{
    height: 500px;
    width: auto;
    transform: translate(400px);
    margin: 10px;
  }
  .thanksend{
    text-align: center;
    font-size: 50;
    margin: 0px;
  }
  .lovekefir{
    text-align: center;
    font-size: 40;
    margin: 0px;
    color: red;
  }
}
/* .cookie{
  transform: translateX(35%);
  position: absolute;
} */
#cookiep1{
  /* transform: translateX(100px); */
  font-family: monospace;
  font-size: 25px;
  display: inline-block;
  margin: 0 auto;
}
#cookiep2{
  /* transform: translateX(185px); */
  font-size: 30px;
  border: brown solid 2px;
  display: inline-block;
  margin: 0 auto;
}
#cpstimer{
  /* transform: translateX(70px); */
  font-size: 30px;
  border: green solid 2px;
  display: inline-block;
  margin: 0 auto;
}
@media screen {
  #maininfo{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 10px;
    grid-template-areas: 
    "account account account account gamesandprojects gamesandprojects gamesandprojects gamesandprojects"
    ". . . . . . . ."
    "create create create create exclusivelogin exclusivelogin exclusivelogin exclusivelogin "
    ". . . . . . . ."
    "settings settings settings settings mainabout mainabout mainabout mainabout";
  }
  #maininfo > *{
    background-color: rgb(36, 205, 235);
    padding: 40px 0;
    margin: 0;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  #maininfo a:hover {
    filter: brightness(1.30);
  }
  #account{
    grid-area: account;
  }
  #gamesandprojects{
    grid-area: gamesandprojects;
  }
  #mainabout{
    grid-area: mainabout;
  }
  #create{
    grid-area: create;
  }
  #exclusivelogin{
    grid-area: exclusivelogin;
  }
  #settings{
    grid-area: settings;
  }
  #mainmoreinfo{
    font-size: 20px;
  }
}
#secondcookie{
  text-align: center;
  transform: translatex(500px);
}
#cursor1{
  width: 30px;
  height: auto;
  left: 730px;
  top: -320px;
  position: absolute;
  animation: revolve 10s infinite linear;
}
@keyframes revolve {
  /* 0%{transform: translate(400px, 490px) rotateZ(0deg)}
  50%{transform: translate(180px, 245px) rotateZ(90deg)}
  100%{transform: translate(400px, 0px) rotateZ(180deg)} */
  from { transform: rotate(0deg) translateX(230px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(230px) rotate(-360deg); }
}
.weathergrid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.timegrid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}