/* h1{
  color:orange;
  background-color: aqua;
  font-size: 52px;
  text-decoration: underline;
  font-family: sans-serif;
  text-align: center;
}
p.ageq.old{
  color: rgb(45, 204, 24);
  text-align: right;
  line-height: 20px;
  letter-spacing: 10px;
  column-count: 3;
  column-gap: 30;
}
ol{
 border-style: dashed;
  border-width: 4px;
  border-color: red; 
  border: 4px solid crimson; 
  border-bottom:rgb(27, 16, 97) 4px solid;
  border-left: 8px solid;
}
li{
  list-style-type: square;
  text-shadow: 2px 2px #5a5c40;
}
span{
  display: block;
}
div{
  display: inline-block;
  border: 5px solid green;
  margin: 20px;
  padding: 20px solid red;
}
textarea#bio{
  display: inline-block;
  border: 5px solid blue;
  margin: 20px;
  padding: 20px solid red;
} 
div .ageq{
  display: inline-block;
  border: 5px solid blue;
  margin: 20px;
  padding: 20px solid red;
}
a[href="t.html"]{
  display: inline-block;
  border: 5px solid green;
  margin: 20px;
  padding: 20px solid red;
  text-decoration: bold;
  text-transform: uppercase;
}
div{
  color: lightcoral;
  border: lightcoral 3px solid;
  margin: 10px;
}
div p{
  border: inherit;
  margin: inherit;
  color: seagreen;
}*/
p{
  color:orange;
}
.accounttitle{
  background-color: rgb(60, 182, 223);
  text-align: center;
}
h2{
  display: inline;
  color:blue;
  border: lightblue 2px solid;
}
.btn {
  display: inline;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: 2px solid darkred;
  font-size: 15px;
  color:black;
  background-color: darkorchid;
}
body{
  background-color: 9ACDE0;
}
label{
  color:black;
  font-size: 15px;
}
.loginbutton{
  width: 200px;
  height: 25px;
  transition: 3s;
}
.input{
  width: 200px;
  height: 25px;
  font-size: 25px;
}
.loginbutton:hover{
  background: saddlebrown;
  transform: rotateZ(720deg);
  transform: translate(300px);
}
.btn.bouncebutton{
  background-color: sandybrown;
  animation-name: bounce;
  animation-duration: 3s;
  /* animation-fill-mode: backwards; 
  animation-delay: 3s; */
  animation: bounce 3s linear infinite alternate,
             rotate360 1s 1.5s linear;
}
@keyframes bounce {
  from{transform: translate(0px, 0px)}
  to{transform:translate(300px, 300px)}
}
@keyframes rotate360 {
  from{transform: translate(0px, 0px) rotate(0deg)}
  to{transform: translate(300px, 300px) rotate(360deg)}
}
canvas {
  background-color: #F08080;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 40%;
  left: 70%;
}
